//colors

$primary: #FFFDFA;
$secondary: #F7F0E5;
$accent: #DFC59D;
$links-color: #8F692F;
$text-color: #392E18;

// font sizes

$text-xxs: toRem(10px);
$text-sm: toRem(16px);
$text-base: toRem(18px);
$text-md: toRem(26px);
$text-lg: toRem(42px);
$text-xl: toRem(56px);
$text-2xl: toRem(120px);
$text-xxl: toRem(180px);